@import "assets/style/common.scss";

.myaddress {
  position: relative;
  background: #f5f5f5;
  width: 100%;
  min-height: 100%;
  z-index: 444;
  .myaddress-list {
    .myaddress-item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: px2rem(2);
      box-sizing: border-box;
      background: #fff;
      position: relative;
      padding: px2rem(15) px2rem(5);
      .myaddress-item-left {
        width: px2rem(20);
        // margin-right: px2rem(5);
        img {
          width: px2rem(20);
        }
      }
      .myaddress-item-right {
        margin-left: px2rem(10);
      }
      .myaddress-up {
        display: flex;
        align-items: center;
        .myaddress-item-name {
          font-weight: 700;
          color: #333;
          font-size: px2rem(18);
        }
        .myaddress-item-sex {
          font-size: 0.466667rem;
          color: #666;
          margin-left: px2rem(5);
        }
        .myaddress-item-phone {
          @extend .myaddress-item-sex;
        }
      }
      .myaddress-down {
        display: flex;
        margin-top: px2rem(10);
        align-items: center;
        font-size: 0;
        .myaddress-item-tag {
          color: #00d762;
          border: 1px solid #00d762;
          padding: 0.053333rem;
          border-radius: 0.013333rem;
          font-size: 0.266667rem;
          margin-right: px2rem(10);
        }
        .orange {
          border-color: #ff5722;
          color: #ff5722;
        }
        .blue {
          border: 1px solid #3190e8;
          color: #3190e8;
        }
        .myaddress-item-detail {
          color: #666;
          font-size: 0.373333rem;
          width: px2rem(250);
        }
      }
      i {
        color: #666;
        font-size: px2rem(20);
        position: absolute;
        &.cha {
          right: px2rem(15);
        bottom: px2rem(18);
        }
        &.edit {
          font-size: px2rem(24);
          right: px2rem(40);
          bottom: px2rem(15);
        }
      }
    }
  }
  .myaddress-add {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: px2rem(50);
    color: #3190e8;
    background: #fff;

    i {
      font-size: px2rem(20);
      margin-right: px2rem(5);
    }
    span {
      font-size: px2rem(18);
    }
  }
}
