@import "assets/style/common.scss";
.detail-info {
  background: #f5f5f5;
  .info-run {
    padding: px2rem(15);
    box-sizing: border-box;
    margin-bottom: px2rem(12);
    background: #fff;
    h3 {
      color: #000;
      font-weight: 700;
      font-size: 0.4rem;
      line-height: 0.56rem;
      margin-bottom: px2rem(10);
    }
    p {
      margin-bottom: 0.266667rem;
      font-size: 0.346667rem;
      color: #666;
      .ticket {
        color: rgb(153, 153, 153);
        border: 1px solid #e0e0e0;
        // padding: px2rem(5) px2rem(5);
        padding: 0 px2rem(3);
      }
      // border-bottom: 1px solid #eee;
    }
    ul {
      margin-top: px2rem(30);
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.4rem 0.4rem 0.4rem 0;
        margin-right: -0.4rem;
        border-top: 1px solid #eee;
        span {
          &:first-child {
            font-size: px2rem(13);
            font-weight: 700;
            color: #333;
          }
          &:last-child {
            font-size: px2rem(13);
            color: rgb(153, 153, 153);
          }
        }
      }
    }
  }
}
