$ratio: 375/10;

@function px2rem($px) {
  @return $px / $ratio + rem;
}

// 主色调
$main: #0085ff;

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 px2rem(12);
  box-sizing: border-box;
}
.padding {
  box-sizing: border-box;
  padding: 0 px2rem(12);
}
.hiden {
  display: none;
}
@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexcolcenter($pos) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: $pos;
}

@mixin preloader {
  background: #f4f4f4;
  animation: skeleton1 1.2s ease-out infinite;
}
@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@mixin surebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: px2rem(20) auto;
  background: #00d762;
  border-radius: 0.053333rem;
  font-size: 0.48rem;
  color: #fff;
  padding: px2rem(12) 0;
  border: none;
  font-weight: 700;
}
@keyframes skeleton1 {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
