@import "assets/style/common.scss";
.list {
  margin-bottom: px2rem(15);
  .list-header {
    margin: 4.266667vw 0 1.866667vw 3.733333vw;
    // margin-bottom: px2rem(20);
    font-size: .32rem;
    color: #999;
  }

}