@import 'assets/style/common.scss'; 
.city-item {
  // padding: 3.733333vw 0 1.866667vw 4vw;
  color: #333;
  font-size: .373333rem;
  border-bottom: 1px solid #ddd;
  line-height: 13.333333vw;
  margin-left: 4vw;
}