@import "assets/style/common.scss";
.resturant-list-wrapper {
  height: px2rem(600);
  overflow: auto;
}
.resturant-list {
  position: relative;
  min-height: px2rem(230);
  background: #fff;
  padding-bottom: px2rem(10);
  margin-top: px2rem(10);
  // margin-bottom: px2rem(60);
}
.loadmore {
  margin-top: px2rem(10);
  text-align: center;
  color: #e0e0e0;
  font-size: px2rem(14);
  // margin-bottom: px2rem(10);
  // padding-bottom: px2rem(10);
}
.loadmore-content {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
