@import "assets/style/common.scss";
.home-header {
  background-image: linear-gradient(90deg, #0af, #0085ff);
  height: px2rem(50);
  // font-size: 0;
  margin-bottom: px2rem(-1);
  .home-header-content {
    height: 100%;
  }
  .home-header-top {
    display: flex;
    height: 100%;
    align-items: center;
    // @include flexcenter;
    height: 100%;
    i {
      color: #fff;
    }
    .icon-loc {
      font-size: px2rem(20);
      margin-right: px2rem(2);
    }
    .home-header-t-address {
      // width: 60%;
      max-width: 70%;
      overflow: hidden;
      white-space: nowrap;

      text-overflow: ellipsis;
      font-weight: bold;
      color: #fff;
      font-size: px2rem(17);
    }
    .icon-down {
      color: #fff;
      font-size: px2rem(10);
      margin-left: px2rem(3);
    }
  }
}
