@import "assets/style/common.scss";
.home {
  width: 100%;
  min-height: 100%;
  background: #fff;
  overflow: hidden;
  .home-ads {
    width: 100%;
    height: px2rem(115);
    border-radius: px2rem(5);
    margin-top: px2rem(5);
    .home-ads-content {
      background: #f4f4f4;
      display: flex;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: px2rem(20) px2rem(10);
      .home-ads-c-left {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;
        width: 50%;
        h4 {
          font-size: 0.453333rem;
          font-weight: 700;
          margin-bottom: px2rem(10);
          color: #333;
        }
        p {
          font-size: 0.346667rem;
          color: #777;
          // margin-bottom: 2.4vw;
        }
        span {
          font-size: 0.32rem;
          color: #af8260;
          font-weight: 700;
        }
      }
      .home-ads-c-right {
        @include flexcenter;
        width: 50%;
        img {
          width: 37.6vw;
        }
      }
    }
  }

 

  // }
}

@mixin model {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100%;
  background: #f4f4f4;
}

.address-model {
  @include model;
}

.fade1-enter {
  left: 100%;
}
.fade1-enter-active {
  transition: all 0.3s;
  left: 0;
}
.fade1-enter-done {
  left: 0;
}
.fade1-exit {
  left: 0;
}
.fade1-exit-active {
  transition: all 0.4s;
  left: 100%;
}
.fade1-exit-done {
  left: 100%;
}

.cityselect {
  @include model;
  background: #fff;
}

.fade2-enter {
  left: 100%;
}
.fade2-enter-active {
  transition: all 0.3s;
  left: 0;
}
.fade2-enter-done {
  left: 0;
}
.fade2-exit {
  left: 0;
}
.fade2-exit-active {
  transition: all 0.4s;
  left: 100%;
}
.fade2-exit-done {
  left: 100%;
}
