@import "assets/style/common.scss";
.home {
  width: 100%;
  background: #fff;
  .home-ads {
    width: 100%;
    height: px2rem(115);
    border-radius: px2rem(5);
    margin-top: px2rem(5);
    .home-ads-content {
      background: #f4f4f4;
      display: flex;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: px2rem(20) px2rem(10);
      .home-ads-c-left {
        font-size: 0;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;
        width: 50%;
        h4 {
          font-size: 0.453333rem;
          font-weight: 700;
          margin-bottom: px2rem(10);
          color: #333;
        }
        p {
          font-size: 0.346667rem;
          color: #777;
          // margin-bottom: 2.4vw;
        }
        span {
          font-size: 0.32rem;
          color: #af8260;
          font-weight: 700;
        }
      }
      .home-ads-c-right {
        @include flexcenter;
        width: 50%;
        img {
          width: px2rem(130);
          height: 90%;
        }
      }
    }
  }
  .restaurant-title {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 9.6vw;
    font-size: 0.4rem;
    color: #333;
    margin-top: px2rem(20);
    &::before {
      margin-right: 3.466667vw;
      margin-top: 2vw;
      display: block;
      content: "";
      width: 5.333333vw;
      height: 0.266667vw;
      background-color: #999;
    }
    &::after {
      margin-left: 3.466667vw;
      margin-top: 2vw;
      display: block;
      content: "";
      width: 0.533333rem;
      height: 0.026667rem;
      background-color: #999;
    }
  }

  // }
}
.alpha {
  height: 100%;
  overflow: hidden;
}
@mixin model {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 100%;
  // bottom: 0;
  display: none;
  width: 100%;
  // min-height: 100%;
  height: 100%;
  background: #f4f4f4;
}

.address-model {
  @include model;
}

.fade1-enter {
  left: 100%;
  display: block;
}
.fade1-enter-active {
  transition: all 0.3s;
  display: block;
  left: 0;
}
.fade1-enter-done {
  left: 0;
  display: block;
}
.fade1-exit {
  left: 0;
  display: block;
}
.fade1-exit-active {
  transition: all 0.4s;
  display: block;
  left: 100%;
}
.fade1-exit-done {
  left: 100%;
  display: none;
}

.cityselect {
  @include model;
  background: #fff;
}

.fade2-enter {
  left: 100%;
  display: block;
}
.fade2-enter-active {
  transition: all 0.3s;
  display: block;
  left: 0;
}
.fade2-enter-done {
  left: 0;
  display: block;
}
.fade2-exit {
  left: 0;
  display: block;
}
.fade2-exit-active {
  transition: all 0.4s;
  display: block;
  left: 100%;
}
.fade2-exit-done {
  left: 100%;
  display: none;
}
