@import "assets/style/common.scss";
.restaurant {
  position: relative;

 
  .login-tip {
    position: relative;
    height: px2rem(280);
    margin-bottom: px2rem(65);
    padding-bottom: px2rem(70);

    .log-btn {
      position: absolute;
      bottom: px2rem(40);
      left: 50%;
      transform: translateX(-50%);
      padding: px2rem(10) px2rem(45);
      border: none;
      border-radius: 0.053333rem;
      background-color: #56d176;
      color: #fff;
      text-align: center;
      font-size: px2rem(15);
    }
  }

  .filter-top {
    width: 100%;
    position: fixed;
    left: 0;
    top: px2rem(47);
    z-index: 999;
  }

  .filter-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    // transition: all .3s ease-in-out;
  }
  .mask-hide {
    display: none;
  }

  // .down-model {
  //   position: fixed;
  //   left: 0;
  //   top: px2rem(87);
  //   width: 100%;
  //   height: 0;
  //   background: #fff;
  // }
  // .choose-model {
  //   position: fixed;
  //   left: 0;
  //   top: px2rem(87);
  //   // top: 10.533333vw;
  //   width: 100%;
  //   height: 0;
  //   background: #fff;
  // }
  // $down1height: px2rem(260);

  // .down1-enter {
  //   height: 0;
  // }

  // .down1-enter-active {
  //   height: $down1height;
  //   transition: all 0.3s;
  // }
  // .down1-enter-done {
  //   height: $down1height;
  // }
  // .down1-exit {
  //   height: $down1height;
  // }
  // .down1-exit-active {
  //   height: 0;
  //   transition: all 0.2s;
  // }
  // .down1-exit-done {
  //   height: 0;
  // }
  // $down2height: px2rem(340);
  // .down2-enter {
  //   height: 0;
  // }

  // .down2-enter-active {
  //   height: $down2height;
  //   transition: all 0.3s;
  // }
  // .down2-enter-done {
  //   height: $down2height;
  // }
  // .down2-exit {
  //   height: $down2height;
  // }
  // .down2-exit-active {
  //   height: 0;
  //   transition: all 0.2s;
  // }
  // .down2-exit-done {
  //   height: 0;
  // }
}
