@import "assets/style/common.scss";
.search-item {
  border-bottom: 1px solid #f4f4f4;
  background-color: #fff;
  padding: 0.293333rem 0.4rem;
  padding: 2.933333vw 4vw;
  color: #2a2a2a;
  // display: flex;
  .search-item-title {
    font-weight: bold;
    font-size: px2rem(16);
    margin-bottom: px2rem(10);
  }
  .search-item-desc {
    font-size: 0.32rem;
    color: gray;
  }
}