@import "assets/style/common.scss";
.resturant-list-wrapper {
  height: px2rem(600);
  overflow: auto;
}
.resturant-list {
  position: relative;
  min-height: px2rem(230);
  background: #fff;
  padding-bottom: px2rem(50);
  margin-top: px2rem(10);
  // margin-bottom: px2rem(60);

}
