@import "assets/style/common.scss";
.order-goods {
  width: 100%;
  height: 95vh;
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  height: 95vh;
  .goods-nav {
    width: px2rem(80);
    // height: 96vh;
    height: 100%;
    overflow: hidden;
    background: #f8f8f8;
    .goods-nav-list {
      width: 100%;
      padding-bottom: px2rem(70);
      // display: inline-block;
      font-size: 0.32rem;
      color: #666;
      .goods-nav-item {
        @include flexcenter;

        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 4.666667vw 1vw;

        line-height: 1.2em;
        .goods-nav-span {
          display: inline-block;
          width: 70%;
        }
        img {
          width: 3.466667vw;
          vertical-align: middle;
          margin-right: px2rem(6);
        }
        .goods-nav-tag {
          position: absolute;
          right: px2rem(10);
          top: px2rem(5);
          color: #fff;
          background-image: linear-gradient(-90deg, #ff7416, #ff3c15 98%);
          border-radius: 0.2rem;
          border-radius: 2vw;
          font-size: 0.266667rem;
          font-weight: 700;
          text-align: center;
          padding: 0 0.106667rem;
          line-height: 3.733333vw;
        }
      }
      .goods-nav-select {
        border-left: 3px solid rgb(35, 149, 255);
        color: #000;
        background: #fff;
      }
    }
  }
}
