@import "assets/style/common.scss";
.settlement-cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: px2rem(50);
  border-bottom: 1px solid #f2f2f2;
  .settlement-cart-item-left {
    font-weight: 500;
    font-size: px2rem(15);
    color: #333;
    width: 70%;
    @include ellipsis;
  }
  .remark {
    font-size: px2rem(13);
  }
  .settlement-cart-item-right {
    // width: 30%;
    text-align: right;
    flex: 1;
    color: #bbb;
    font-size: px2rem(14);
    i {
      font-size: px2rem(10);
    }
  }
}