@import "assets/style/common.scss";
.city-section {
  .city-section-idx {
    position: sticky;
    top: px2rem(80);
    padding: 3.733333vw 0 1.866667vw 4vw;
    color: #666;
    background: #f5f5f5;
    font-size: .373333rem;
  }
  
}
